In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [4]:
PATH = "ecosystem/testing.csv"
df = pd.read_csv(PATH, delimiter=";")

In [5]:
df
"""
This is the data on which we are operating. THe dataset shows attributes
of our model, such as the number of trees by treetype each episode or the total volume by treetype.
The index maps directly to the episode number, starting with 0.
"""

   Spruce (count)  Spruce volume (m^3)
0             759                  0.0
1             759                  0.0
2             759                  0.0
3             759                  0.0
4             759                  0.0
5             759                  0.0
6             759                  0.0
7             759                  0.0
8             759                  0.0
9             759                  0.0

In [6]:
import seaborn as sns

In [7]:
colors = sns.color_palette("rocket", as_cmap=True)